<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Ozone Map</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <!-- Chart JS library we are using as our new JS library to incorporate into our project -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

  <!-- D3 JavaScript -->
  <script src="https://d3js.org/d3.v7.min.js"></script>
</head>

<body>

      <script>
        let allData = {{ data1 | safe}}
        // console.log("Data from Flask:", allData);
      </script>


  <script src="../static/js/app.js"></script>


</body>

</html>
