<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Air Pollution Dashboard</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <!-- Chart JS library we are using as our new JS library to incorporate into our project -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

  <!-- D3 JavaScript -->
  <script src="https://d3js.org/d3.v7.min.js"></script>
</head>

<!-- I wanted to change the the spaces between each <p> line break. 
Default CSS values the browser use for paragrapgh tags: 
https://www.w3schools.com/cssref/css_default_values.php-->
<style>
  p {
    margin-top: 5px;
    margin-bottom: 5px;
  };
</style>

<body>

  <div class="container">
    <div class="row">
      <div class="col-md-12 jumbotron text-center", style="background-image: url('../static/images/air_pollution_image.jpeg');">
        <h1 style="color: navy">Air Pollution Dashboard</h1>
        <p style="color:rgb(29, 32, 34)"><strong>Use the interactive charts below to explore the dataset</strong></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="well">
          <h5 style="color: mediumturquoise">Air Pollutant Parameter:</h5>
          <select id="selDataset" onchange="optionChanged(this.value)">
          </select>
        </div>
        <div class="panel panel-primary", style="color:navy";>
          <div class="panel-heading">
            <h3 class="panel-title">Air Pollutant</h3>
          </div>
          <div id="sample-metadata" class="panel-body", style="color: purple;"></div>
        </div>
      </div>
      <script>
        let tests = {{ data3 | safe}}
        console.log("Data from Flask:", tests);
      </script>
      <div class="col-md-5">
        <div id="bar"></div>
      </div>
      <div class="col-md-5">
        <div id="gauge"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div id="bubble"></div>
      </div>
    </div>
  </div>

  <script src="../static/js/app.js"></script>


</body>

</html>
